.expe {
  max-width: 70rem;
  margin: 4rem auto;
  justify-content: center;
}

.expe p{
  font-size: 3rem;
}

.expeItems {
  
}

.expeItem {
  display: flex;
  margin-top: 15px;
}

.expeItem .year{
  width: 300px;
  margin-top: 8px;
}

.expeItem .dotline{
  margin-top: 8px;
}

.expeItem .dotline .dot{
  background: #1E90FF;
  width: 30px;
  height: 30px;
  border-radius: 1rem;
  box-shadow: rgba(30, 144, 255, 0.25) 0px 54px 55px, rgba(30, 144, 255, 0.25) 0px -12px 30px, rgba(30, 144, 255, 0.25) 0px 4px 6px, rgba(30, 144, 255, 0.25) 0px 12px 13px, rgba(30, 144, 255, 0.25) 0px -3px 5px;
}

.expeItem .dotline .line {
  border-left: solid 1px #e6e9ff;
  height: 85%;
  margin-top: 5px;
  margin-left: 13px;
}

.expeItem .expeContent {
  margin-top: 0;
  margin-left: 10px;
}

.expeItem .expeContent .expeItemTitle{
  font-size: 1.75rem;
  font-weight: 500;
}

.expeItem .expeContent p{
  font-size: 1rem;
}