.port {
  max-width: 70rem;
  margin: 4rem auto;
  justify-content: center;
}

.port p{
  font-size: 3rem;
}

.portItems{
  display: flex;
}

.portItems p {
  font-size: 1rem;
  font-weight: 400;
}

.portItems .item{
  height: 15rem;
  width: 15rem;
  margin-right: 10px;
  margin-bottom: 10px;
}

.itemContent{
  color: white;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: relative;
 
}

.itemContent .text{
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem 0.5rem;
  cursor: pointer;
}

.image{
  position: absolute;
  z-index: -2;
}

.image img{
  height: 15rem;
  width: 15rem;
}

.portBtn{
  background: #1E90FF;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  margin: auto;
  cursor: pointer;
}

@media screen and (max-width:840px) {
  .portItems{
    flex-wrap: wrap;
    margin-left: 10px;
  }

  .portItems .item{
    height: 10rem;
    width: 10rem;
  }
  
  .image img{
    height: 10rem;
    width: 10rem;
  }
}

@media screen and (max-width:480px) {
  .portItems{
    flex-wrap: wrap;
  }

  .portItems .item{
    height: 10rem;
    width: 10rem;
  }
  
  .image img{
    height: 10rem;
    width: 10rem;
  } 
}